<h1>Please sign in</h1>

<form method="post" action="/sessions">
  <p><input type="text" name='email' placeholder='Email'></p>
  <p><input type="password" name='password' placeholder='Password'></p>
  <input type="submit" value="Sign in" class="button">
</form>

<form method="get" action="/users/forgot_password">
  <input type="submit" value="Forgot Password?" class="button large">
</form>

