<section>
  <h1>Please enter new password</h1>
  <form action="/users/change_password" method="post">
    Password: <input name="password" type="password">
    Confirm Password: <input name="password_confirmation" type="password">
    <input name="token" value=<%= @token %> type="hidden">
    <input type="submit" value="Change Password">
  </form>
</section>