<section>
  <form method="post" action="/users/forgot_password">
    <p><input type="text" name="email" placeholder="Please enter your email"></p>
    <input type="submit" value=" Request password reset" class="button large">
  </form>
</section>